@font-face {
    font-family: "Kaushan Script", cursive;
    src: 'https://fonts.googleapis.com/css?family=Kaushan+Script';
}

@font-face {
    font-family: "Poiret One", cursive;
    src: 'https://fonts.googleapis.com/css?family=Poiret+One';
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: 'https://fonts.googleapis.com/css?family=Roboto';
}